.sidebar {
    margin-top: 2%;
    height: 90vh;
    background-color: #464D58;
    color: white;
    width: 75%;
    z-index: 200;
    margin-bottom: 10%;

    .filter-container {
        padding-left: 15px;
        margin-top: 8%;
        h4 {
            font-size: 15px;
        }
        li {
            font-size: 14px;
            font-weight: bold;
            margin-left: 5px;
        }
    }
}

#toggle {
    visibility: hidden;
}
#close  {
    visibility: hidden;
}

.sb-title-text {
    font-family: 'Arial';
    font-size: 15px;
    height: 3vh;
    padding: 10px;
}

#header-wrapper {
    width: 100vw;
    height: 80px;
    background-color: navy;
    color: white;
    align-items: center;
    padding-left: 20px;
}

.footer {
    padding:15px;
    font-size: 12px;
    color:White;

    h3 {
        font-size: 15px;
    }
    img {
        max-height: 16px;
    }
}

a {
 color: white !important;
 text-decoration: none;
}

#copyright-margin {
    margin-left: 5
}

.bullet-custom ul {
    list-style: none;
}
.bullet-custom ul li::before {
    content: "\2022";  
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.bullet-blue li::before{
    color: #00ADB5 !important;
}
.bullet-yellow li::before{
    color: #FBD157 !important;
}
.bullet-green li::before{
    color: #B0EACD !important;
}
.bullet-red li::before{
    color: #F67280 !important;
}

.side-nav-arrow{
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 9999;
}

.custom-height-container {
    height: 50vh !important
}

.side-nav-arrow.nav-open{
    animation: sidebar-open 0.57s forwards;
}

@keyframes sidebar-open {
    100% { margin-left: 35%}
}

@media screen and (max-width: 700px) {
    .sidebar {
        height: 100vh;
        background-color: #464D58;
        opacity: 0.8;
        color: white;
        width: 35%;
        position: fixed;
        z-index: 200;
        left: -100%;
        top: 0px;
        animation: slide-open 0.5s forwards;
       
    }

    .side-nav-arrow.hidden{
        animation: sidebar-close 0.5s forwards;
    }

    @keyframes sidebar-close {
        35% { left: 0}
    }

    @keyframes slide-open {
        100% { left: 0}
    }
    
    .sidebar .close {
        left: -100%;
    }
    
    #toggle {
        visibility: visible;
        cursor: pointer;
        color: black;
        font-size: 60px;
        background: transparent;
        border: none;
    }

    #header-wrapper {
        width: 100vw;
        height: 80px;
        background-color: navy;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .servers-container {
        text-align: center;
        
        .server-desc {
            margin-left:0 !important;
            text-align: left;
        }

        .div-center-smart {
            margin-left: auto;
            margin-right: auto;
        }

        .content-center {
            justify-content: center;
        }

    }
    .horizontal-center {
        margin: 0 auto !important;
    }
    .custom-height-container {
        height: 50% !important
    }
  }